<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/third/layui/css/layui.css" rel="stylesheet">
    <link href="/css/blog/blogOne.css" rel="stylesheet">
</head>
<body>
    <!--    <div class="layui-side layui-bg-red"></div>-->
        <div class="layui-col-md-offset2" th:utext="${blog.content}"></div>
    <!--    <div class="layui-footer layui-bg-gray">1111111111</div>-->
</div>
</body>
</html>