body, div, td, ol {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 150%
}

body {
    width: 100%;
    min-width: 980px;
    font-size: 14px
}

.clear {
    clear: both
}

a:link, a:visited, a:hover, a:active {
    color: #12c;
    text-decoration: underline
}

.top {
    color: #5b5b5b;
    font-size: 12px
}

.top_tabs {
    float: left;
    margin: 5px auto auto 10px
}

#span_userinfo {
    padding: 5px 5px 0 5px;
    overflow: hidden;
    text-align: right;
    margin: 0 10px auto auto
}

#span_userinfo a {
    padding: 0 4px
}

.index_sozone {
    width: 500px;
    border: solid 0 #f00;
    text-align: left;
    padding-left: 30px
}

.index_tab {
    font-size: 14px;
    margin: 0 70px 4px 5px;
    border: solid 0
}

.index_tab a {
    margin-right: 20px
}

a.tab_selected {
    font-weight: bold;
    text-decoration: none;
    color: #000
}

.input_index {
    height: 26px;
    font-size: 14px;
    border: 1px solid #7e9db9;
    margin-right: 8px;
    padding: 2px;
    vertical-align: middle;
    width: 350px;
    -webkit-appearance: none
}

.index_tab a {
    margin-right: 15px
}

.new:after {
    content: "●";
    position: relative;
    top: -9px;
    left: 0;
    text-decoration: none;
    display: inline-block;
    color: #d01717;
    font-size: 100%
}

.index_btn {
    float: right;
    margin-left: 5px;
    width: 120px
}

.btn_so_index {
    border: 1px solid #aaa;
    background-color: #eee;
    font-size: 13px;
    height: 26px;
    vertical-align: middle;
    width: 80px
}

.help_link {
    font-size: 12px;
    line-height: 150%
}

@media only screen and (max-width: 767px) {
    body {
        min-width: unset
    }

    #header {
        height: auto
    }
}

@charset "UTF-8";
/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 240px;
    padding: 8px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.pika-single.is-hidden {
    display: none
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5)
}

.pika-title {
    position: relative;
    text-align: center
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0
}

.pika-prev, .pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    opacity: .5;
    *position: absolute;
    *top: 0
}

.pika-prev:hover, .pika-next:hover {
    opacity: 1
}

.pika-prev, .is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0
}

.pika-next, .is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0
}

.pika-prev.is-disabled, .pika-next.is-disabled {
    cursor: default;
    opacity: .2
}

.pika-select {
    display: inline-block;
    *display: inline
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0
}

.pika-table th, .pika-table td {
    width: 14.285714285714286%
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: #f5f5f5
}

.is-today .pika-button {
    color: #3af;
    font-weight: bold
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #3af;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 980px
}

td {
    font-size: 14px
}

.keyword {
    color: #c60a00
}

#header {
    width: 100%;
    height: 103px;
    margin: 0 auto;
    clear: both;
    position: relative
}

#headerMain {
    height: 75px
}

#logo {
    display: block;
    width: 210px;
    height: 61px;
    margin-left: 10px;
    margin-top: 9px;
    float: left
}

.index_sozone {
    display: inline-block;
    padding-top: 5px;
    padding-left: 20px
}

.searchBox {
    float: left;
    width: 600px;
    padding-top: 12px;
    padding-left: 0;
    margin-left: 10px
}

#searchRangeList {
    padding: 0;
    margin: 0;
    height: 1.5em;
    font-size: 14px
}

#searchRangeList li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0 1em 0 0
}

.selected {
    font-weight: bold
}

.seachInput {
    clear: both;
    font-size: 12px
}

.txtSeach {
    border: 1px solid #7e9db9;
    height: 20px;
    margin-right: 8px;
    padding: 2px;
    vertical-align: middle;
    width: 350px
}

.btnSearch, .btnSearchInResult {
    font-size: 13px;
    height: 28px;
    vertical-align: middle;
    width: 80px
}

#searchInfo {
    clear: both;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 1em;
    font-size: 12px;
    border-top: 1px solid #d9e1f7;
    background-color: #d5ddf3;
    height: 1.7em;
    padding-top: 1px;
    border-top: 1px solid #36c
}

#main {
    width: 100%;
    min-width: 1100px;
    text-align: left
}

#searchResult {
    float: left;
    margin-right: -25em;
    overflow: hidden;
    width: 100%;
    min-height: 350px
}

.searchItem strong {
    color: #dd4b39;
    font-style: normal;
    font-weight: normal
}

.forflow {
    float: left
}

#searchResult .forflow {
    float: none;
    margin-right: 22em;
    width: auto;
    margin: 10px 10px 10px 20px
}

#userResult {
    margin: 4px 4px 4px 10px;
    padding: 4px 4px 4px 4px;
    width: 60%;
    font-size: 12px
}

#userResult .forflow {
    background: #f3f3f3;
    margin: 20px 4px 0 0;
    margin-right: 22em;
    width: auto;
    padding: 6px 4px 2px 4px
}

#userResult .searchItem {
    margin-bottom: 10px
}

.searchItem {
    clear: both;
    min-width: 600px;
    max-width: 630px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px
}

.searchItem list {
    margin-left: 5px
}

.searchItem a:visited {
    color: #800080
}

.searchItemTitle {
    font-size: 14px;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    font-weight: normal;
    margin: 3px 0
}

.searchItemInfo-good {
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
    background: url('https://zzk.cnblogs.com/images/vote.svg') no-repeat scroll 0 0 transparent;
    background-size: 16px;
    background-position-y: -1px
}

.searchItemInfo-comments {
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
    background: url('https://zzk.cnblogs.com/images/comment.svg') no-repeat scroll 0 0 transparent;
    background-size: 16px;
    background-position-y: 1.6px
}

.searchItemInfo-views {
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
    background: url('https://zzk.cnblogs.com/images/view.svg') no-repeat scroll 0 0 transparent;
    background-size: 16px;
    background-position-y: 0
}

.searchItemInfo-related {
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
    background: url('https://zzk.cnblogs.com/images/related.svg') no-repeat scroll 0 0 transparent;
    background-size: 17px;
    background-position-y: 1.5px
}

.searchItemInfo-publishDate {
    margin-left: 1px;
    padding-left: 18px;
    padding-right: 5px;
    background: url('https://zzk.cnblogs.com/images/time.svg') no-repeat scroll 0 0 transparent;
    background-size: 15px;
    background-position-y: 1px
}

.searchCon {
    clear: both;
    font-size: 12px;
    padding-top: 2px;
    word-wrap: break-word
}

.searchItemInfo {
    clear: both;
    margin-top: 4px
}

.searchURL {
    color: #008000
}

.searchURL span {
    font-size: 13px
}

.searchItem-ing {
    padding: 15px 20px 15px 15px;
    border-bottom: .5px solid #eee;
    margin-left: 40px;
    margin-bottom: 0
}

.searchItem-ing .searchItem-icon {
    float: left;
    border: .5px solid #bbb;
    width: 40px;
    height: 40px
}

.searchItem-ing .searchItem-body {
    float: left;
    width: 565px;
    margin-left: 15px;
    min-height: 30px
}

.searchItem-ing .searchItem-body .black {
    display: inline-block;
    height: 40px;
    width: 5px
}

.searchItem-ing a.searchItem-user {
    color: #075db3;
    text-decoration: underline;
    vertical-align: middle
}

.searchItem-ing .searchItem-content {
    color: #555;
    text-decoration: none;
    vertical-align: middle
}

.searchItem-ing a.searchItem-time {
    font-size: 12px;
    float: right;
    color: #bbb;
    vertical-align: middle;
    text-decoration: none
}

#page {
    clear: both;
    list-style: none;
    height: 1.5em
}

#page li {
    float: left;
    margin-right: 1em
}

.sidebar {
    font-size: 12px;
    float: right;
    overflow: hidden;
    width: 300px;
    padding-right: 50px;
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 5px;
    border-left: 1px solid #ccc
}

.forA4 {
    font-size: 12px;
    border-top: 1px solid #ddd;
    padding: 5px;
    line-height: 150%
}

.sideRightWidget {
    font-size: 12px;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
    line-height: 200%
}

.sideRightWidget .index_tab {
    padding-right: 15px;
    font-size: 12px;
    margin-right: 0
}

#relaKeyword {
    clear: both;
    height: 75px;
    background-color: #f1f5fc;
    font-size: 14px
}

#relaKeyword span {
    display: block;
    width: 5em;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
    font-weight: bold
}

#tblRelaKeyword {
    float: left;
    margin-top: 10px
}

#tblRelaKeyword td {
    height: 1.6em;
    padding-right: 1.5em
}

#reSearch {
    clear: both;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px
}

#reSearch .seachInput {
    margin-left: 20px
}

#footer {
    height: 2em;
    text-align: right;
    border-top: 2px solid #d9e1f7;
    font-size: 12px;
    padding-right: 1em
}

#footer a {
    text-decoration: none
}

#relativeSearch {
    background-color: #eff2fa;
    margin-bottom: 20px;
    padding: 10px 0 10px 20px
}

#relativeSearchTitle {
    font-size: 14px;
    font-weight: bold;
    float: left;
    padding-top: 2px;
    margin-right: 10px
}

#relativeSearch table {
    border: 0 solid #fff;
    text-align: left;
    font-size: 14px
}

#relativeSearch table tr .space {
    width: 5%
}

#relativeSearch table tr td a {
    font-size: 14px
}

#right_text_ad {
    font-size: 13px
}

#right_text_ad a:link, #right_text_ad a:visited, #right_text_ad a:hover, #right_text_ad a:active {
    text-decoration: underline
}

#nav_top {
    float: right;
    font-size: 13px;
    padding-right: 5px;
    padding-top: 5px
}

.s_google {
    margin-bottom: 5px;
    padding-left: 5px
}

.side_list {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 150%
}

.side_list li {
    list-style: none;
    width: 240px;
    overflow: hidden;
    height: 20px;
    line-height: 20px
}

.side_list a:hover {
    color: #f00
}

.sideRightWidget ol {
    list-style-type: none;
    margin-bottom: 10px;
    height: 15px
}

.sideRightWidget li {
    float: left;
    height: 20px;
    margin-right: 15px
}

.sideRightWidget .ui-selected a {
    color: #444;
    font-weight: bold;
    text-decoration: none
}

#tabs {
    float: left;
    margin-left: 10px;
    font-weight: bold
}

#tabs a.youarehere {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    font-size: 110%;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0 11px
}

#tabs a {
    background: inherit;
    border: 1px solid #fff;
    color: #777;
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
    line-height: 22px;
    margin: 8px 8px 0 0;
    padding: 0 11px;
    text-decoration: none
}

.pager {
    color: #2e6ab1;
    font-size: 12px;
    line-height: 200%;
    margin: 25px 0;
    text-align: left
}

.pager a {
    border: 1px solid #9aafe5;
    color: #2e6ab1;
    margin: 0 2px;
    padding: 2px 5px;
    text-decoration: none
}

.pager a:hover {
    border: 1px dotted #000
}

.pager .current {
    background-color: #2e6ab1;
    border: 1px solid #000080;
    color: #fff;
    font-weight: bold;
    margin: 0 2px;
    padding: 2px 5px
}

.datepicker {
    border: 1px solid #7e9db9;
    height: 16px;
    padding: 1px;
    vertical-align: middle;
    width: 70px
}

#ui-datepicker-div {
    font-size: 12px
}

input[type=button] {
    -webkit-appearance: button
}

#msg_count {
    color: #f00
}

#empty_result {
    line-height: 1.8;
    font-size: 14px;
    margin-left: 10px
}

#empty_result ul {
    margin-left: 20px
}

.top_bar {
    font-size: 12px;
    height: 22px;
    line-height: 22px
}

.checkbox-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px
}

.checkbox-input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden
}

.searchitem-q-header {
    margin-right: 3px;
    float: left;
    font-weight: 700;
    color: #555
}

.searchCon p {
    display: inline
}

.icon-yijiejue {
    color: #008000;
    font-size: 14px;
    font-weight: 700
}

@media only screen and (max-width: 767px) {
    body {
        min-width: unset
    }

    #span_userinfo {
        display: none
    }

    #logo {
        display: block;
        margin: 9px auto;
        float: none
    }

    #header {
        height: auto
    }

    #main {
        min-width: unset
    }

    #searchResult {
        float: none;
        margin-right: 10px;
        overflow: auto;
        width: auto
    }

    .searchItem {
        min-width: unset;
        max-width: unset
    }

    .sidebar {
        float: none;
        width: auto;
        padding-right: 10px
    }

    .index_sozone {
        width: auto;
        margin-bottom: 10px
    }

    .input_index {
        width: 260px;
        margin-right: 5px;
        font-size: 16px
    }

    .pager .middle {
        display: none
    }

    .z1 {
        margin: 0 auto
    }
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}