<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/user/home.css" rel="stylesheet">
    <link href="/css/user/profile.css" rel="stylesheet">
    <link href="/css/personal/follow.css" rel="stylesheet">
</head>
<body>
<div id="top">
    <div id="top_left">
        <a href="/goFrontHomePage.do">首页</a>
        <a href="/blogEs/goAllSearch.do">找找看</a>
    </div>
</div>
<div class="clear"></div>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="//www.cnblogs.com" title="返回博客园首页">
                <img src="/img/logo.png" alt="logo" style="width:165px;height:55px;">
            </a>
        </div>
        <div id="nav_block">
            <a href="/">园子</a> ·
            <a href="/followees/">关注</a> ·
            <a href="/followers/">粉丝</a> ·
            <a href="/feed/all/">随便看看</a> ·
            <a href="//msg.cnblogs.com/msg/inbox" target="_blank">
                消息
                <span id="msg_count"></span>
            </a>
        </div>
        <div class="clear"></div>
        <div id="header_user"><h1 id="header_user_left" th:text="'欢迎你，'+${loginUser.username}">
            欢迎你，Violet丶
        </h1>
            <div id="header_user_right">
                <a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}"><img class="pfs" th:src="${loginUser.picUrl}" alt=""></a>
                <a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}" th:text="${loginUser.username}">Violet丶</a>
                · <a th:href="@{'/blog/goBlogListPage.do?id='+${loginUser.id}}">我的博客</a>
                · <a href="//home.cnblogs.com/set/account/">设置</a>
                · <a href="javascript:void(0);">退出</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="container">
        <div id="app_bar">
            <p class="app_r_3"></p><p class="app_r_2"></p><p class="app_r_1"></p>
            <div id="app_list_wrapper">
                <ul class="app_list">
                    <li>
                        <img src="//common.cnblogs.com/images/ico_ing.gif" alt=""><a id="app_ing" href="/user/goPersonalMsg.do?type=in">消息</a>
                    </li>
                    <li>
                        <em><a href="/blog/goAdd.do" target="_blank">写博</a></em><img src="//common.cnblogs.com/images/ico_blog.gif" alt=""><a id="app_blog" th:href="@{'/user/goPersonalBlog.do?id='+${loginUser.id}}">博客</a>
                    </li>
                    <li>
                        <img src="//common.cnblogs.com/images/ico_kb.gif" alt=""><a id="app_kb" href="/user/goPersonalMyBlog.do">我的博客</a>
                    </li>
                </ul>
                <div class="app_setting">
                    <a href="//group.cnblogs.com/forum/public/" class="flag_edit" target="_blank">问题反馈</a>
                </div>
            </div>
            <p class="app_r_1"></p><p class="app_r_2"></p><p class="app_r_3"></p>
        </div>
        <div id="container_content">

            <div id="main" onclick="javascript:void(0)">
                <div class="main_nav">
                    <ul id="nav_followees_followers">
                        <li>
                            <a th:if="${loginUser.id == user.id}" href="javascript:;" class="my_follow">
                                我关注的人
                            </a>
                            <a th:if="${loginUser.id != user.id}" href="javascript:;" class="my_follow">
                                Ta关注的人
                            </a>
                        </li>
                        <li>
                            <a th:if="${loginUser.id == user.id}" href="javascript:;" class="be_follow">
                                我的粉丝
                            </a>
                            <a th:if="${loginUser.id != user.id}" href="javascript:;" class="be_follow">
                                Ta的粉丝
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="group_list">
                        <ul>
                            <li class="active">
                                <a href="/u/bootyWind/relation/following">全部</a>
                            </li>
                        </ul>
                    </div>
                    <div class="avatar_list">
                        <ul th:fragment="follower_list" id="follower_list">
                            <span class="followerTotalNum hide" th:text="${followerTotalNum}"></span>
                            <li th:each="follow:${followerList}">
                                <a th:href="@{'/user/goPersonalPage.do?id='+${follow.follower}}" th:title="${follow.followerName}">
                                    <div class="avatar_pic">
                                        <img th:src="${follow.followerPicUrl}" onerror="this.src='/img/noHead.jpg'">
                                    </div>
                                    <div class="avatar_name" th:text="${follow.followerName}">
                                        路人甲Java
                                    </div>
                                </a>
<!--                                <div class="remark_name">-->
<!--                                    <a href="/u/itsoku123" title="路人甲Java"></a>-->
<!--                                    <a title=""></a>-->
<!--                                </div>-->
                            <a class="edit hide" href="javascript:void(0)">取消关注</a>
                            </li>
                        </ul>
                        <ul th:fragment="be_follower_list" id="be_follower_list">
                            <span class="followerTotalNum hide" th:text="${followerTotalNum}"></span>
                            <li th:each="follow:${beFollowerList}">
                                <a th:href="@{'/user/goPersonalPage.do?id='+${follow.beFollower}}" th:title="${follow.beFollowerName}">
                                    <div class="avatar_pic">
                                        <img th:src="${follow.beFollowerPicUrl}">
                                    </div>
                                    <div class="avatar_name" th:text="${follow.beFollowerName}">
                                        路人甲Java
                                    </div>
                                </a>
                                <!--                                <div class="remark_name">-->
                                <!--                                    <a href="/u/itsoku123" title="路人甲Java"></a>-->
                                <!--                                    <a title=""></a>-->
                                <!--                                </div>-->
                                <a class="edit hide" href="javascript:void(0)">取消关注</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <div id="test1" class="pager">

                </div>
            </div>
            <div id="right_sidebar">


                <div class="user_avatar">
                    <a th:href="@{'/user/goPersonalPage.do?id='+${user.id}}" th:title="${user.username}+'的主页'">
                        <img th:src="${user.picUrl}" class="img_avatar" onerror="this.src='/img/noHead.jpg'">
                    </a>
                </div>
                <div class="right_user_info">
                    <a th:href="@{'/user/goPersonalPage.do?id='+${user.id}}" th:text="${user.username}+'的主页'">Violet丶的主页</a><br>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div id="goTop">
            <a href="javascript:void(0)" onclick="return gotoTop()">
                <img src="//common.cnblogs.com/images/ico_top.gif" alt="Top" title="回到页首">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <a href="//www.cnblogs.com/AboutUS.aspx">关于博客园</a>
        <a href="//www.cnblogs.com/ContactUs.aspx">联系我们</a>
        <a href="//www.cnblogs.com/ad.aspx">广告服务</a>
        © 2004-2020
        <a href="//www.cnblogs.com">博客园</a>
        <span id="powered_by">Powered by .NET Core on Kubernetes</span>
        <span id="profiler_footer"></span>
    </div>
</div>
<script src="/third/layui/layui.js"></script>
<script th:inline="javascript">
    layui.use(['laypage','jquery','layer'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;
        var layer = layui.layer;

        render();
        function render(){
            renderAllPage(45,[[${follow}]])
        }

        function renderAllPage(pageSize,pageType) {
            switch (pageType) {
                case 'follow':
                    $(".my_follow").addClass("current_nav");
                    getMyFollowList(1);
                    $("#follower_list").html("")
                    break;
                case 'beFollow':
                    $(".be_follow").addClass("current_nav");
                    getBeFollowList(1);
                    $("#be_follower_list").html("")
                    break;
            }
            setTimeout(function () {
                var totalNum = Number($(".followerTotalNum").text());
                if(totalNum == 0){
                    return
                }
                laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , count: totalNum //数据总数，从服务端得到
                    , limit: pageSize
                    , jump: function (obj, first) {
                        if (!first) {
                            switch (pageType) {
                                case 'follow':
                                    getMyFollowList(obj.curr);
                                    break;
                                case 'beFollow':
                                    getBeFollowList(obj.curr);
                                    break;
                            }
                        }
                    }
                });
            }, 100)
        }

        function getMyFollowList(current){
            $.ajax({
                url: '/follow/getBeFollowerList.do',
                type: 'POST',
                data: {
                    current:current,
                    size:45,
                    id:[[${user.id}]]
                },
                dataType : "html",
                success: function (result) {
                    $("#be_follower_list").html(result)
                }
            });
        }

        function getBeFollowList(current){
            $.ajax({
                url: '/follow/getFollowerList.do',
                type: 'POST',
                data: {
                    current:current,
                    size:45,
                    id:[[${user.id}]]
                },
                dataType : "html",
                success: function (result) {
                    $("#follower_list").html(result)
                }
            });
        }


        $(".my_follow").click(function () {
            $('.current_nav').removeClass("current_nav");
            $(this).addClass("current_nav");
            renderAllPage(45,'follow');
        })

        $(".be_follow").click(function () {
            $('.current_nav').removeClass("current_nav");
            $(this).addClass("current_nav");
            renderAllPage(45,'beFollow');
        })
        

    })
</script>
</body>
</html>