<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link href="/css/user/home.css" rel="stylesheet">
    <link href="/css/user/profile.css" rel="stylesheet">
    <link href="/css/personal/blog.css" rel="stylesheet">
</head>
<body>
<div id="top">
    <div id="top_left">
        <a href="/goFrontHomePage.do">首页</a>
        <a href="//zzk.cnblogs.com/">找找看</a>
        <!--        <a href="//academy.cnblogs.com/">学习计划</a>-->
    </div>
</div>
<div class="clear"></div>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="//www.cnblogs.com" title="返回博客园首页">
                <img src="/img/logo.png" alt="logo" style="width:165px;height:55px;">
            </a>
        </div>
        <div id="nav_block">
            <a href="/">园子</a> ·
            <a href="/followees/">关注</a> ·
            <a href="/followers/">粉丝</a> ·
            <a href="/feed/all/">随便看看</a> ·
            <a href="//msg.cnblogs.com/msg/inbox" target="_blank">
                消息
                <span id="msg_count"></span>
            </a>
        </div>
        <div class="clear"></div>
        <div id="header_user"><h1 id="header_user_left" th:text="'欢迎你，'+${loginUser.username}">
            欢迎你，Violet丶
        </h1>
            <div id="header_user_right">
                <a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}"><img class="pfs" th:src="${loginUser.picUrl}" alt=""></a>
                <a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}" th:text="${loginUser.username}">Violet丶</a>
                · <a th:href="@{'/blog/goBlogListPage.do?id='+${loginUser.id}}">我的博客</a>
                · <a href="//home.cnblogs.com/set/account/">设置</a>
                · <a href="javascript:void(0);">退出</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="container">
        <div id="app_bar">
            <p class="app_r_3"></p><p class="app_r_2"></p><p class="app_r_1"></p>
            <div id="app_list_wrapper">
                <ul class="app_list">
                    <li>
                        <img src="//common.cnblogs.com/images/ico_ing.gif" alt=""><a id="app_ing" href="/user/goPersonalMsg.do?type=in">消息</a>
                    </li>
                    <li>
                        <em><a href="/blog/goAdd.do" target="_blank">写博</a></em><img src="//common.cnblogs.com/images/ico_blog.gif" alt=""><a id="app_blog" th:href="@{'/user/goPersonalBlog.do?id='+${loginUser.id}}">博客</a>
                    </li>
                    <li>
                        <img src="//common.cnblogs.com/images/ico_kb.gif" alt=""><a id="app_kb" href="/user/goPersonalMyBlog.do">我的博客</a>
                    </li>
                </ul>
                <div class="app_setting">
                    <a href="//group.cnblogs.com/forum/public/" class="flag_edit" target="_blank">问题反馈</a>
                </div>
            </div>
            <p class="app_r_1"></p><p class="app_r_2"></p><p class="app_r_3"></p>
        </div>
        <div id="container_content">

            <div>
                <ul class="post_nav_block">
                    <li><a class="current_nav released_btn" href="javascript:;">我发布的</a> </li>
                    <li><a class="draft_btn" href="javascript:;">草稿</a></li>
                </ul>
                <div class="main">
                    <div class="post_list released" id="released_list" th:fragment="released_list">
                        <span class="hide totalBlog" th:text="${blogTotal}"></span>
                        <div class="post_block" th:each="blog:${releasedList}">
                            <div class="content">
                                <h2 class="entry_title">
                                    <a th:href="@{'/blog/goBlogListPage.do?id='+${blog.author}}" class="title_author" target="_blank" th:text="'['+${blog.authorName}+']'">[东北小狐狸]</a>
                                    <a th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" target="_blank" th:text="${blog.title}">Docker极简部署Kafka+Zookeeper+ElasticStack</a>
                                </h2>
                                <div class="entry_summary" th:text="${blog.summary}">之前写ELK部分时有朋友问有没有能一</div>
                                <div class="clear"></div>
                                <div class="entry_footer">
                                    <span class="post_comment">
                                        <a class="grayline" th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" th:text="'评论('+${blog.commentNum}+')'"> 评论(0)</a>
                                    </span>
                                    <span class="post_view">
                                        <a class="grayline" th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" th:text="'阅读('+${blog.viewNum}+')'">阅读(0)</a>
                                    </span>
                                    <span th:text="'推荐('+${blog.likeNum}+') 发布于'">推荐(0) 发布于</span>
                                    <span class="postdate" th:text="${#dates.format(blog.releaseTime, 'yyyy-MM-dd hh:mm:ss')}">2020-03-17 15:03</span>
                                    &nbsp;&nbsp;
                                    <a class="grayline cancelBtn" th:id="${blog.id}" href="javascript:void(0);" >取消发布</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="post_list draft" id="draft_list" th:fragment="draft_list">
                        <span class="hide totalBlog" th:text="${blogTotal}"></span>
                        <div class="post_block" th:each="blog:${draftList}">
                            <div class="content">
                                <h2 class="entry_title">
                                    <a th:href="@{'/blog/goBlogListPage.do?id='+${blog.author}}" class="title_author" target="_blank" th:text="'['+${blog.authorName}+']'">[东北小狐狸]</a>
                                    <a th:href="@{'/blog/goAdd.do?id='+${blog.id}}" target="_blank" th:text="${blog.title}">Docker极简部署Kafka+Zookeeper+ElasticStack</a>
                                </h2>
                                <div class="entry_summary" th:text="${blog.summary}">之前写ELK部分时有朋友问有没有能一</div>
                                <div class="clear"></div>
                                <div class="entry_footer">
                                    <span class="post_comment">
                                        <a class="grayline" th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" th:text="'评论('+${blog.commentNum}+')'"> 评论(0)</a>
                                    </span>
                                    <span class="post_view">
                                        <a class="grayline" th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" th:text="'阅读('+${blog.viewNum}+')'">阅读(0)</a>
                                    </span>
                                    <span th:text="'推荐('+${blog.likeNum}+') 创建于'">推荐(0) 发布于</span>
                                    <span class="postdate" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd hh:mm:ss')}">2020-03-17 15:03</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="block_arrow">
                    <div id="test1" class="pager">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="goTop">
            <a href="javascript:void(0)">
                <img src="//common.cnblogs.com/images/ico_top.gif" alt="Top" title="回到页首">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <a href="//www.cnblogs.com/AboutUS.aspx">关于博客园</a>
        <a href="//www.cnblogs.com/ContactUs.aspx">联系我们</a>
        <a href="//www.cnblogs.com/ad.aspx">广告服务</a>
        © 2004-2020
        <a href="//www.cnblogs.com">博客园</a>
        <span id="powered_by">Powered by .NET Core on Kubernetes</span>
        <span id="profiler_footer"></span>
    </div>
</div>
<script src="/third/layui/layui.js"></script>
<script th:inline="javascript">
    layui.use(['laypage','jquery','layer'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;
        var layer = layui.layer;

        var type = 'released';

        render();
        function render(){
            renderAllPage(10,type)
        }

        function renderAllPage(pageSize,pageType) {
            switch (pageType) {
                case 'released':
                    getReleasedList(1);
                    $(".draft").html("")
                    break;
                case 'draft':
                    getDraftList(1);
                    $(".released").html("")
                    break;
            }
            setTimeout(function () {
                var totalNum = Number($(".totalBlog").text());
                if(totalNum == 0){
                    return
                }
                laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , count: totalNum //数据总数，从服务端得到
                    , limit: pageSize
                    , jump: function (obj, first) {
                        if (!first) {
                            switch (pageType) {
                                case 'released':
                                    getReleasedList(obj.curr);
                                    break;
                                case 'draft':
                                    getDraftList(obj.curr);
                                    break;
                            }
                        }
                    }
                });
            }, 100)
        }

        function getReleasedList(current){
            $.ajax({
                url: '/blog/getReleasedList.do',
                type: 'POST',
                data: {
                    current:current,
                    size:10
                },
                dataType : "html",
                success: function (result) {
                    $("#released_list").html(result)
                }
            });
        }

        function getDraftList(current){
            $.ajax({
                url: '/blog/getDraftList.do',
                type: 'POST',
                data: {
                    current:current,
                    size:10
                },
                dataType : "html",
                success: function (result) {
                    $("#draft_list").html(result)
                }
            });
        }


        $(".released_btn").click(function () {
            $('.current_nav').removeClass("current_nav");
            $('.released').removeClass("hide")
            $('.draft').addClass("hide")
            $(this).addClass("current_nav");
            renderAllPage(10,'released');
        })

        $(".draft_btn").click(function () {
            $('.current_nav').removeClass("current_nav");
            $('.draft').removeClass("hide")
            $('.released').addClass("hide")
            $(this).addClass("current_nav");
            renderAllPage(10,'draft');
        })

        $("#goTop").click(function () {
            $('html,body').animate({scrollTop: '0px'}, 800);
        })

        $(".released").on("click", "a.cancelBtn", function (e) {
            var id = $(this).attr("id");
            debugger
            layer.confirm('确定取消发布?', function(index){
                //do something
                $.ajax({
                    url: '/blog/cancelRelease.do',
                    type: 'POST',
                    data: {
                        id:id
                    },
                    dataType : "json",
                    success: function (result) {
                        if (result.flag){
                            layer.close(index);
                            layer.alert(result.msg)
                        }
                    }
                });
            });
        })

    })
</script>
</body>
</html>