<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.name}+'的主页'">个人中心</title>
    <link href="/css/user/home.css" rel="stylesheet">
    <link href="/css/user/profile.css" rel="stylesheet">
</head>
<body>
<div id="top">
    <div id="top_left">
        <a href="//www.cnblogs.com">首页</a>
        <a href="//news.cnblogs.com/">新闻</a>
        <a href="//zzk.cnblogs.com/">找找看</a>
        <a href="//academy.cnblogs.com/">学习计划</a>
    </div>
</div>
<div class="clear"></div>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="//www.cnblogs.com" title="返回博客园首页">
                <img src="//common.cnblogs.com/images/logo/logo20170227.png" alt="logo" style="width:165px;height:55px;">
            </a>
        </div>
        <div id="nav_block">
            <a href="/">园子</a> ·
            <a href="/followees/">关注</a> ·
            <a href="/followers/">粉丝</a> ·
            <a href="/feed/all/">随便看看</a> ·
            <a href="//msg.cnblogs.com/msg/inbox" target="_blank">
                消息
                <span id="msg_count"></span>
            </a>
        </div>
        <div class="clear"></div>
        <div id="header_user"><h1 id="header_user_left">
            欢迎你，Violet丶
        </h1>
            <div id="header_user_right">
                <a href="/u/bootyWind/"><img class="pfs" th:src="${loginUser.picUrl}" alt=""></a>
                <a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}" th:text="${loginUser.username}">Violet丶</a>
                · <a th:href="@{'/blog/goBlogListPage.do?id='+${loginUser.id}}">我的博客</a>
                · <a href="//home.cnblogs.com/set/account/">设置</a>
                · <a href="javascript:void(0);">退出</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="container">
        <div id="app_bar">
            <p class="app_r_3"></p><p class="app_r_2"></p><p class="app_r_1"></p>
            <div id="app_list_wrapper">
                <ul class="app_list">
                    <li>
                        <img src="//common.cnblogs.com/images/ico_ing.gif" alt=""><a id="app_ing" href="https://ing.cnblogs.com/">闪存</a>
                    </li>
                    <li>
                        <em><a href="/blog/goAdd.do" target="_blank">写博</a></em><img src="//common.cnblogs.com/images/ico_blog.gif" alt=""><a id="app_blog" href="/blog/">博客</a>
                    </li>
                    <li>
                        <em><a href="//group.cnblogs.com/newpost/">发言</a></em><img src="//common.cnblogs.com/images/ico_group.gif" alt=""><a id="app_group" href="//group.cnblogs.com/">小组</a>
                    </li>
                    <li>
                        <em><a href="//news.cnblogs.com/n/publish" target="_blank">投递</a></em><img src="//common.cnblogs.com/images/ico_news.gif" alt=""><a id="app_news" href="/news/">新闻</a>
                    </li>
                    <li>
                        <em><a href="https://q.cnblogs.com/q/new" target="_self">提问</a></em><img src="//common.cnblogs.com/images/ico_question.gif" alt=""><a id="app_q" href="https://q.cnblogs.com/">博问</a>
                    </li>
                    <li>
                        <em><a href="#" target="_blank" onclick="AddToWz();return false;">添加</a></em><img src="//common.cnblogs.com/images/ico_bookmark.gif" alt=""><a id="app_wz" href="//wz.cnblogs.com/">收藏</a>
                    </li>
                    <li>
                        <em><a href="//job.cnblogs.com/admin/" target="_blank">发布</a></em><img src="//common.cnblogs.com/images/ico_job.gif" alt=""><a id="app_job" href="/jobs/">招聘</a>
                    </li>
                    <li>
                        <img src="//common.cnblogs.com/images/ico_kb.gif" alt=""><a id="app_kb" href="/kb/">文库</a>
                    </li>
                </ul>
                <div class="app_setting">
                    <a href="//group.cnblogs.com/forum/public/" class="flag_edit" target="_blank">问题反馈</a>
                </div>
            </div>
            <p class="app_r_1"></p><p class="app_r_2"></p><p class="app_r_3"></p>
        </div>
        <div id="container_content">

            <div id="main" onclick="javascript:void(0)">

                <div id="user_profile_block">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top">
                                <div class="user_avatar">
                                    <img th:src="${user.picUrl}" alt="Violet丶的头像" class="img_avatar"><br>
                                    <table class="user_profile_nav_block">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <ul th:if="${loginUser.id} eq ${user.id}" class="avatar_nav_block" id="avatar_opt_nav">
                                                    <li><a th:href="@{'/user/goHeadPicPage.do?id='+${loginUser.id}}" class="link_modify_info">修改头像</a></li>
                                                    <li><a href="/u/bootyWind/detail/" class="link_account">个人资料</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td valign="top">
                                <div>
                                    <h1 class="display_name" th:text="${user.name}">
                                        Violet丶
                                    </h1>
                                    <div>
                                        <ul id="user_profile" class="user_profile">
                                            <li id="li_remark" style="display:none"><span class="text_gray">备注名称：</span><span id="remarkId"></span></li>
                                            <li><span class="text_gray">园龄：</span><span title="入园时间：2019-5-23">8个月</span></li><li><span class="text_gray">博客：</span><a href="https://www.cnblogs.com/bootyWind/" class="gray" target="_blank">https://www.cnblogs.com/bootyWind/</a></li>
                                        </ul>
                                    </div>
                                    <div class="text_gray" style="padding-top: 10px;">
                                        <div class="data_count_block" style="padding: 0px 0 15px;">
                                            <div class="data_left">
                                                <div class="follow_count"><a id="following_count" href="/u/bootyWind/followees/">20</a></div>
                                                <a href="/u/bootyWind/followees/">关注</a>
                                            </div>
                                            <div class="data_right">
                                                <div class="follow_count"><a id="follower_count" href="/u/bootyWind/followers/">0</a></div>
                                                <a href="/u/bootyWind/followers/">粉丝</a>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                                <br>
                                <div class="user_intro">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div class="topic_nav_block_wrapper">
                    <ul class="mini_nav_block">
                        <li><a href="javascript:void(0)" data-apptype="question">博问</a></li>
                        <li><a href="javascript:void(0)" data-apptype="blog">博客</a></li>
                        <li><a href="javascript:void(0)" data-apptype="all" class="current_nav">全部</a></li>
                    </ul>
                    <span class="title_block">最新动态</span>
                    <div class="clear">
                    </div>
                </div>
                <div class="feed_block">
                    <div id="feed_list" style="display: block;">

                        <ul id="activity_list" th:fragment="activity_list">
                            <li class="feed_item" th:each="activity:${activityList}">
                                <div class="feed_avatar">
                                    <a href="/u/bootyWind"><img th:src="''+${user.picUrl}"></a>
                                </div>
                                <div class="feed_body" id="feed_content_5d2ecbbb63abf8af028461bd">
                                    <div class="feed_title">
                                        <a href="/u/bootyWind/" class="feed_author" th:text="${user.name}">Violet丶</a>
                                        <span th:text="${activity.category}+'：'">评论博客： </span><a th:href="@{'/blog/goBlogOnePage.do?id='+${activity.blogId}}" target="_blank" class="feed_link" th:text="${activity.blogTitle}">跟我学SpringCloud | 第十一篇：使用Spring Cloud Sleuth和Zipkin进行分布式链路跟踪</a>
                                        <span class="feed_date" th:text="${#dates.format(activity.createTime, 'yyyy-MM-dd hh:mm:ss')}">2019-07-17 15:16</span>
                                    </div>
                                    <div class="feed_desc" th:utext="${activity.content}">
                                        全球最大同xing交友网站 哈哈哈
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>

                        <div class="block_arrow" id="feed_pager_block">

                        </div></div>
                    <div id="feed_loading" class="feed_loading" style="display: none;"><img align="absmiddle" src="//common.cnblogs.com/images/loading.gif" alt=""> 正在加载数据...</div>
                    <div class="clear"></div>
                </div>


            </div>
            <div id="right_sidebar">

                <div id="relation" data-alias="bootyWind"><div class="avatar_list">
                    <h3><a href="/u/bootyWind/relation/following/">我关注的人(20)</a></h3>
                    <ul>
                        <li>
                            <a href="/u/itsoku123/" title="路人甲Java">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/687624/20190421105428.png">
                                </div>
                                <div class="avatar_name">
                                    路人甲Java
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/java-chen-hao/" title="chen_hao">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/1168971/20180903150907.png">
                                </div>
                                <div class="avatar_name">
                                    chen_hao
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/aobing/" title="敖丙">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/1853509/20191207205350.png">
                                </div>
                                <div class="avatar_name">
                                    敖丙
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/asker009/" title="我是属车的">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/1410220/20180530161248.png">
                                </div>
                                <div class="avatar_name">
                                    我是属车的
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/ZhuChangwu/" title="赐我白日梦">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/1496926/20190627210356.png">
                                </div>
                                <div class="avatar_name">
                                    赐我白日梦
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/cmt/" title="博客园团队">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/35695/20140318223943.png">
                                </div>
                                <div class="avatar_name">
                                    博客园团队
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/xiaoyangjia/" title="编码砖家">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/31085/20190906112512.png">
                                </div>
                                <div class="avatar_name">
                                    编码砖家
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/JavaArchitect/" title="hsm_computer">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/sample_face.gif">
                                </div>
                                <div class="avatar_name">
                                    hsm_computer
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/u/fangshixiang/" title="_YourBatman">
                                <div class="avatar_pic">
                                    <img src="//pic.cnblogs.com/face/682076/20190715164240.png">
                                </div>
                                <div class="avatar_name">
                                    _YourBatman
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>

                    <h3><a href="/u/bootyWind/relation/followers/">我的粉丝(0)</a></h3>
                    <ul>
                    </ul>
                    <div class="clear"></div>
                </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div id="goTop">
            <a href="javascript:void(0)" onclick="return gotoTop()">
                <img src="//common.cnblogs.com/images/ico_top.gif" alt="Top" title="回到页首">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <a href="//www.cnblogs.com/AboutUS.aspx">关于博客园</a>
        <a href="//www.cnblogs.com/ContactUs.aspx">联系我们</a>
        <a href="//www.cnblogs.com/ad.aspx">广告服务</a>
        © 2004-2020
        <a href="//www.cnblogs.com">博客园</a>
        <span id="powered_by">Powered by .NET Core on Linux</span>
        <span id="profiler_footer">(执行耗时80毫秒)</span>
    </div>
</div>
<script src="/third/jquery/jquery-3.4.1.js"></script>
<script th:inline="javascript">

    var pageSize = 10;

    getTopViewList();
    function getTopViewList() {
        $.ajax({
            url: '/activity/getActivityList.do',
            type: 'POST',
            data: {
                size: pageSize,
                current: 1,
                id:[[${user.id}]]
            },
            success: function (result) {
                $("#activity_list").html(result);
            }
        });
    }

</script>
</body>
</html>