<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}+'的主页'">个人中心</title>
    <link href="/css/user/home.css" rel="stylesheet">
    <link href="/css/user/profile.css" rel="stylesheet">
</head>
<body>
<div id="top">
    <div id="top_left">
        <a href="/goFrontHomePage.do">首页</a>
        <a href="/blogEs/goAllSearch.do">找找看</a>
    </div>
</div>
<div class="clear"></div>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="//www.cnblogs.com" title="返回博客园首页">
                <img src="//common.cnblogs.com/images/logo/logo20170227.png" alt="logo" style="width:165px;height:55px;">
            </a>
        </div>
        <div id="nav_block">
            <a href="/">园子</a> ·
            <a href="/followees/">关注</a> ·
            <a href="/followers/">粉丝</a> ·
            <a href="/feed/all/">随便看看</a> ·
            <a href="//msg.cnblogs.com/msg/inbox" target="_blank">
                消息
                <span id="msg_count"></span>
            </a>
        </div>
        <div class="clear"></div>
        <div id="header_user"><h1 id="header_user_left" th:text="'欢迎你，'+${loginUser.username}">
            欢迎你，Violet丶
        </h1>
            <div id="header_user_right">
                <a href="/u/bootyWind/"><img class="pfs" th:src="${loginUser.picUrl}" alt=""></a>
                <a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}" th:text="${loginUser.username}">Violet丶</a>
                · <a th:href="@{'/blog/goBlogListPage.do?id='+${loginUser.id}}">我的博客</a>
                · <a href="//home.cnblogs.com/set/account/">设置</a>
                · <a href="javascript:void(0);">退出</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="container">
        <div id="app_bar">
            <p class="app_r_3"></p><p class="app_r_2"></p><p class="app_r_1"></p>
            <div id="app_list_wrapper">
                <ul class="app_list">
                    <li>
                        <img src="//common.cnblogs.com/images/ico_ing.gif" alt=""><a id="app_ing" th:href="@{'/user/goPersonalMsg.do?id='+${loginUser.id}+'&type=in'}">消息</a>
                    </li>
                    <li>
                        <em><a href="/blog/goAdd.do" target="_blank">写博</a></em><img src="//common.cnblogs.com/images/ico_blog.gif" alt=""><a id="app_blog" th:href="@{'/user/goPersonalBlog.do?id='+${user.id}}">博客</a>
                    </li>
                    <li>
                        <img src="//common.cnblogs.com/images/ico_kb.gif" alt=""><a id="app_kb" href="/kb/">我的博客</a>
                    </li>
                </ul>
                <div class="app_setting">
                    <a href="//group.cnblogs.com/forum/public/" class="flag_edit" target="_blank">问题反馈</a>
                </div>
            </div>
            <p class="app_r_1"></p><p class="app_r_2"></p><p class="app_r_3"></p>
        </div>
        <div id="container_content">

            <div id="main" onclick="javascript:void(0)">

                <div id="user_profile_block">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top">
                                <div class="user_avatar">
                                    <img th:src="${user.picUrl}" alt="Violet丶的头像" class="img_avatar"><br>
                                    <table class="user_profile_nav_block">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <ul th:if="${loginUser.id} eq ${user.id}" class="avatar_nav_block" id="avatar_opt_nav">
                                                    <li><a th:href="@{'/user/goHeadPicPage.do?id='+${loginUser.id}}" class="link_modify_info">修改头像</a></li>
                                                    <li><a href="/u/bootyWind/detail/" class="link_account">个人资料</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td valign="top">
                                <div>
                                    <h1 class="display_name" th:text="${user.username}">
                                        Violet丶
                                    </h1>
                                    <div>
                                        <ul id="user_profile" class="user_profile">
                                            <li id="li_remark" style="display:none"><span class="text_gray">备注名称：</span><span id="remarkId"></span></li>
                                            <li><span class="text_gray">园龄：</span><span title="入园时间：2019-5-23">8个月</span></li><li><span class="text_gray">博客：</span><a th:href="@{'/blog/goBlogListPage.do?id='+${user.id}}" class="gray" target="_blank">前往</a></li>
                                        </ul>
                                    </div>
                                    <div class="text_gray" style="padding-top: 10px;">
                                        <div class="data_count_block" style="padding: 0px 0 15px;">
                                            <div class="data_left">
                                                <div class="follow_count"><a id="following_count" href="/u/bootyWind/followees/">20</a></div>
                                                <a href="/u/bootyWind/followees/">关注</a>
                                            </div>
                                            <div class="data_right">
                                                <div class="follow_count"><a id="follower_count" href="/u/bootyWind/followers/">0</a></div>
                                                <a href="/u/bootyWind/followers/">粉丝</a>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div th:if="${loginUser.id != user.id}">
                                            <button class="follow_button" style="display:none">+关注</button>
                                            <button class="cancel_follow_button" style="display:none">已关注</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                                <br>
                                <div class="user_intro">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div class="topic_nav_block_wrapper">
                    <ul class="mini_nav_block">
                        <li><a href="javascript:void(0)" data-apptype="question">博问</a></li>
                        <li><a href="javascript:void(0)" data-apptype="blog">博客</a></li>
                        <li><a href="javascript:void(0)" data-apptype="all" class="current_nav">全部</a></li>
                    </ul>
                    <span class="title_block">最新动态</span>
                    <div class="clear">
                    </div>
                </div>
                <div class="feed_block">
                    <div id="feed_list" style="display: block;">

                        <ul id="activity_list" th:fragment="activity_list">
                            <li class="feed_item" th:each="activity:${activityList}">
                                <div class="feed_avatar">
                                    <a href="/u/bootyWind"><img th:src="''+${user.picUrl}"></a>
                                </div>
                                <div class="feed_body" id="feed_content_5d2ecbbb63abf8af028461bd">
                                    <div class="feed_title">
                                        <a href="/u/bootyWind/" class="feed_author" th:text="${user.username}">Violet丶</a>
                                        <span th:text="${activity.category}+'：'">评论博客： </span><a th:href="@{'/blog/goBlogOnePage.do?id='+${activity.blogId}}" target="_blank" class="feed_link" th:text="${activity.blogTitle}">跟我学SpringCloud | 第十一篇：使用Spring Cloud Sleuth和Zipkin进行分布式链路跟踪</a>
                                        <span class="feed_date" th:text="${#dates.format(activity.createTime, 'yyyy-MM-dd hh:mm:ss')}">2019-07-17 15:16</span>
                                    </div>
                                    <div class="feed_desc" th:utext="${activity.content}">
                                        全球最大同xing交友网站 哈哈哈
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>

                        <div class="block_arrow" id="feed_pager_block">

                        </div></div>
                    <div id="feed_loading" class="feed_loading" style="display: none;"><img align="absmiddle" src="//common.cnblogs.com/images/loading.gif" alt=""> 正在加载数据...</div>
                    <div class="clear"></div>
                </div>


            </div>
            <div id="right_sidebar">

                <div id="relation" data-alias="bootyWind"><div class="avatar_list">
                    <h3 th:switch="${loginUser.id == user.id}">
                        <a th:case="true" th:href="@{'/user/goPersonalFollow.do?id='+${user.id}+'&follow=follow'}">我关注的人(20)</a>
                        <a th:case="false" th:href="@{'/user/goPersonalFollow.do?id='+${user.id}+'&follow=follow'}">Ta关注的人(20)</a>
                    </h3>
                    <ul id="be_follower_list_side" th:fragment="be_follower_list_side">
                        <li th:each="beFollower:${beFollowerSideList}">
                            <a th:href="@{'/user/goPersonalPage.do?id='+${beFollower.beFollower}}" th:title="${beFollower.beFollowerName}">
                                <div class="avatar_pic">
                                    <img th:src="${beFollower.beFollowerPicUrl}">
                                </div>
                                <div class="avatar_name" th:text="${beFollower.beFollowerName}">
                                    路人甲Java
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <h3 th:switch="${loginUser.id == user.id}">
                        <a th:case="true" th:href="@{'/user/goPersonalFollow.do?id='+${user.id}+'&follow=beFollow'}">我的粉丝(0)</a>
                        <a th:case="false" th:href="@{'/user/goPersonalFollow.do?id='+${user.id}+'&follow=beFollow'}">Ta的粉丝(0)</a>
                    </h3>
                    <ul id="follower_list_side" th:fragment="follower_list_side">
                        <li th:each="follower:${followerSideList}">
                            <a th:href="@{'/user/goPersonalPage.do?id='+${follower.follower}}" th:title="${follower.followerName}">
                                <div class="avatar_pic">
                                    <img th:src="${follower.followerPicUrl}">
                                </div>
                                <div class="avatar_name" th:text="${follower.followerName}">
                                    路人甲Java
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div id="goTop">
            <a href="javascript:void(0)" onclick="return gotoTop()">
                <img src="//common.cnblogs.com/images/ico_top.gif" alt="Top" title="回到页首">
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <a href="//www.cnblogs.com/AboutUS.aspx">关于博客园</a>
        <a href="//www.cnblogs.com/ContactUs.aspx">联系我们</a>
        <a href="//www.cnblogs.com/ad.aspx">广告服务</a>
        © 2004-2020
        <a href="//www.cnblogs.com">博客园</a>
        <span id="powered_by">Powered by .NET Core on Linux</span>
        <span id="profiler_footer">(执行耗时80毫秒)</span>
    </div>
</div>
<script src="/third/layui/layui.js"></script>
<script src="/third/jquery/jquery-3.4.1.js"></script>
<script th:inline="javascript">

    layui.use(['laypage','layer'], function () {

        var pageSize = 10;

        getActivityList();
        getBeFollowerList4Side();
        getFollowerList4Side();
        renderFollowerBtn();

        function getActivityList() {
            $.ajax({
                url: '/activity/getActivityList.do',
                type: 'POST',
                data: {
                    size: pageSize,
                    current: 1,
                    id: [[${user.id}]]
                },
                success: function (result) {
                    $("#activity_list").html(result);
                }
            });
        }

        function getBeFollowerList4Side() {
            $.ajax({
                url: '/follow/getBeFollowerList4Side.do',
                type: 'POST',
                data: {
                    size: 9,
                    current: 1,
                    id: [[${user.id}]]
                },
                success: function (result) {
                    $("#be_follower_list_side").html(result);
                }
            });
        }

        function getFollowerList4Side() {
            $.ajax({
                url: '/follow/getFollowerList4Side.do',
                type: 'POST',
                data: {
                    size: 9,
                    current: 1,
                    id: [[${user.id}]]
                },
                success: function (result) {
                    $("#follower_list_side").html(result);
                }
            });
        }

        function renderFollowerBtn() {
            if ([[loginUser.id]] != [[user.id]]) {
                if ([[${isFollow}]]) {
                    $(".cancel_follow_button").css("display", "block");
                } else {
                    $(".follow_button").css("display", "block");
                }
            }
        }

        $(".follow_button").click(function () {
            $.ajax({
                url: '/follow/follow.do',
                type: 'POST',
                data: {
                    follower: [[${loginUser.id}]],
                    followerName: [[${loginUser.username}]],
                    followerPicUrl: [[${loginUser.picUrl}]],
                    beFollower: [[${user.id}]],
                    beFollowerName: [[${user.username}]],
                    beFollowerPicUrl: [[${user.picUrl}]]
                },
                dataType: "json",
                success: function (result) {
                    layer.msg(result.msg)
                }
            });
            $(this).css("display", "none");
            $(".cancel_follow_button").css("display", "block")
            getBeFollowerList4Side()
            getFollowerList4Side();
        });

        $(".cancel_follow_button").click(function () {
            $.ajax({
                url: '/follow/cancelFollow.do',
                type: 'POST',
                data: {
                    follower: [[${loginUser.id}]],
                    followerName: [[${loginUser.username}]],
                    followerPicUrl: [[${loginUser.picUrl}]],
                    beFollower: [[${user.id}]],
                    beFollowerName: [[${user.username}]],
                    beFollowerPicUrl: [[${user.picUrl}]]
                },
                dataType: "json",
                success: function (result) {
                    layer.msg(result.msg)
                }
            });
            $(this).css("display", "none");
            $(".follow_button").css("display", "block")
            getFollowerList4Side();
            getBeFollowerList4Side();
        });

    })
</script>
</body>
</html>