<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
</head>
<body>
        <div class="layui-form" style="margin-top: 50px">
            <div class="layui-row">
                <div class="layui-md-md4 layui-col-md-offset4 layui-xs-md4 layui-col-xs-offset4">
                    <div class="layui-inline">
                        <select name="roleId" id="s_roleCode">
                            <option value="">请选择一个角色</option>
                            <option th:each="role:${roleList}" th:value="${role.code}" th:text="${role.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-md-md4 layui-xs-md4"></div>
            </div>
            <input type="hidden" th:value="${userId}" id="userId" />
            <br>
            <div class="layui-row">
                <div class="layui-md-md4 layui-col-md-offset4 layui-xs-md4 layui-col-xs-offset4">
                    <div style="margin-left: 70px">
                        <button class="layui-btn" id = "change_btn" >修改</button>
                    </div>
                </div>
                <div class="layui-md-md4 layui-xs-md4"></div>
            </div>
        </div>
    <script>
        layui.use(['form','jquery','layer'], function(){
            var $ = layui.$;
            var form = layui.form;
            var layer = layui.layer;
            form.render();


            $("#change_btn").on('click',function () {
                var userId = $("#userId").val();
                var code = $("#s_roleCode").val();
                var user = {};
                user.id = userId;
                user.roleCode = code;
                $.ajax({
                    url: '/user/saveOrUpdate.do',
                    type: 'POST',
                    data: user,
                    dataType : "json",
                    success: function (result) {
                        var index = layer.alert(result.msg, function(){
                            layer.close(index);
                            layer.close(window.top.dialog_Add);
                        })
                    }
                });
            });

        });
    </script>
</body>
</html>