<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        用户名<input type="text"  id = "username"/>
        密码<input type="text" id = "password" />
        <input type="button" id="btn" value="登录" >
    <script src="/third/layui/layui.js"></script>
    <script>
        layui.use(['table','laypage','form','jquery'], function(){
            var $ = layui.$;
            $("#btn").on('click',function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var user = {};
                user.username = username;
                user.password = password;
                $.ajax({
                    url: '/login.do',
                    type: 'GET',
                    data: user,
                    dataType : "json",
                    success: function (result) {
                        debugger
                        if(!result.flag){
                            layer.msg(result.msg)
                        }
                        else{
                            window.open("/goMainPage.do","_self");
                        }
                    }
                });
            })
        });
    </script>
</body>
</html>