<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/page.css" rel="stylesheet">
    <link href="/css/front/home.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div id="hd_info">
        <div id="cnts">
            <div id="site_nav_top">博客管理系统</div>
            <div id="login_area"><span id="span_userinfo"><a th:href="@{'/user/goPersonalPage.do?id='+${loginUser.id}}"
                                                             th:text="${loginUser.username}">Violet丶</a>·<a
                    id="user_nav_blog_link" th:href="@{'/blog/goBlogListPage.do?id='+${loginUser.id}}">我的博客</a><span
                    id="user_nav_blog_split">·</span><a href="https://msg.cnblogs.com/">短消息<span id="msg_count"></span></a>·<a
                    href="https://home.cnblogs.com/set/">设置</a>·<a href="#" onclick="logout();return false">退出</a><span
                    id="current_spaceId" style="display:none">1696808</span></span></div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="header">
        <p class="h_r_3"></p>
        <p class="h_r_2"></p>
        <p class="h_r_1"></p>
        <div id="header_block">
            <div id="logo">
                <h1>
                    <a href="https://www.cnblogs.com/" title="开发者的网上家园"><img src="" alt="Logo" width="142"
                                                                             height="55"></a>
                </h1>
            </div>

            <div class="clear"></div>
        </div>
        <p class="h_r_1"></p>
        <p class="h_r_2"></p>
        <p class="h_r_3"></p>
    </div>
    <div id="nav_menu"></div>
    <div id="main">
        <div class="post_nav_block_wrapper">
            <ul class="post_nav_block" id="listType">
                <li><a href="/goFrontHomePage.do" class="current_nav" title="">首页</a></li>
                <li><a href="javascript:;" class="" title="编辑精选博文">推荐</a></li>
                <li><a href="javascript:;" class="" title="我评论过的博文">我评</a></li>
                <li><a href="javascript:;" class="" title="我推荐过的博文">我赞</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="rss_link" id="rss_block">
            <span id="posts_refresh_tips"></span><a id="posts_refresh" href="#" class="refresh" title="刷新博文列表"
                                                    onclick="aggSite.loadCategoryPostList();return false">刷新</a><a
                href="http://feed.cnblogs.com/blog/sitehome/rss"><img src="//common.cnblogs.com/images/icon_rss.gif"
                                                                      alt="点击订阅" style="position:relative;top:2px;"
                                                                      title="订阅博客园文章"></a></div>
<!--        <div id="headline_block" class="headline">-->
<!--            <ul>-->
<!--                <li class="editor_pick"><a href="https://www.cnblogs.com/uoyo/p/12377645.html" id="editor_pick_lnk"-->
<!--                                           target="_blank">【编辑推荐】后台任务的积木：.Net Core 中的 IHostedService<span-->
<!--                        id="editor_pick_count"> (8/680)</span></a> <a href="/aggsite/headline" title="查看更多编辑推荐"-->
<!--                                                                      class="right_more">»</a></li>-->
<!--                <li><a href="https://www.cnblogs.com/sdflysha/p/20200228-csharp-history-code-demo.html" target="_blank"-->
<!--                       title="阅读1045, 评论9, 推荐34">[最多推荐]代码演示C#各版本新功能(9/1045)</a> <a href="/aggsite/topdigged24h"-->
<!--                                                                                   title="查看24小时推荐排行"-->
<!--                                                                                   class="right_more">»</a></li>-->
<!--                <li><a href="https://news.cnblogs.com/n/656602/" target="_blank" title="阅读361, 评论3, 推荐1">[最多评论]盖茨：新冠肺炎可能成为百年不遇的大流行病，应帮助中低收入国家(3/361)</a>-->
<!--                    <a href="https://news.cnblogs.com/" title="查看更多新闻" class="right_more">»</a></li>-->
<!--                <li><a href="https://news.cnblogs.com/n/656561/" target="_blank" title="阅读1226, 评论2, 推荐13">[最多阅读]2020，咋赚钱？(2/1226)</a>-->
<!--                    <a href="https://news.cnblogs.com/n/recommend" title="查看更多博客" class="right_more">»</a></li>-->
<!--            </ul>-->
<!--        </div>-->

        <div id="pager_top" style="display:none"></div>
        <div id="post_list_tips" class="hide"></div>

        <div id="post_list" class="blog_list" th:fragment="blog_list">
            <span id="blogTotalNum" style="display: none" th:text="${blogTotalNum}"></span>
            <div class="post_item" th:each="blog,blogStat:${blogList}">
                <div class="digg">
                    <div class="diggit" th:attr="blogId=${blog.id}">
                        <span class="diggnum" id="digg_count_12384732" th:text="${blog.likeNum}">0</span>
                    </div>
                    <div class="clear"></div>
                    <div id="digg_tip_12384732" class="digg_tip">

                    </div>
                </div>
                <div class="post_item_body">
                    <h3><a class="titlelnk" th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" target="_blank"
                           th:text="${blog.title}">无坑部署vmware搭建最新k8s集群(1.17.3)</a></h3>
                    <p class="post_item_summary">
                        <a th:href="@{'/user/goPersonalPage.do?id='+${blog.author}}" target="_blank"><img width="48" height="48"
                                                                                           class="pfs"
                                                                                           th:src="${blog.authorPicUrl}"
                                                                                           alt=""></a>
                        <span th:text="${blog.summary}"></span>
                    </p>
                    <div class="post_item_foot">
                        <a th:href="@{'/blog/goBlogListPage.do?id='+${blog.author}}" class="lightblue"
                           th:text="${blog.authorName}">鱼东东</a>
                        <span th:text="'发布于 '+${#dates.format(blog.releaseTime, 'yyyy-MM-dd hh:mm:ss')}">发布于 2020-02-29 19:03</span>
                        <span class="article_comment"><a
                                href="https://www.cnblogs.com/yudongdong/p/12384732.html#commentform"
                                title="0001-01-01 08:05" class="gray" th:text="'评论('+${blog.commentNum}+')'">
        评论(0)</a></span><span class="article_view"><a href="https://www.cnblogs.com/yudongdong/p/12384732.html"
                                                      class="gray" th:text="'阅读('+${blog.viewNum}+')'">阅读(0)</a></span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <script type="text/javascript">
            var aggSiteModel = {
                "CategoryType": "SiteHome",
                "ParentCategoryId": 0,
                "CategoryId": 808,
                "PageIndex": 1,
                "TotalPostCount": 4000,
                "ItemListActionName": "AggSitePostList"
            };
        </script>
        <div id="comment_pager_bottom">
            <div id="test1" class="pager">

            </div>
        </div>
        <div id="side_nav">

            <div id="cate_title_block">
                <div id="cate_title_title">
                    <div class="cate_title">网站分类</div>
                </div>
                <ul id="cate_item" class="category_list" th:fragment="category_list">
                    <li th:id="${category.id}" th:each="category:${categoryList}">
                        <a href="javascript:;" th:text="${category.name}">.NET技术(5)</a>
                    </li>
                </ul>
            </div>
            <div class="l_s"></div>
            <!--            <p class="r_l_3"></p><p class="r_l_2"></p><p class="r_l_1"></p>-->
            <!--            <p class="r_l_1"></p><p class="r_l_2"></p><p class="r_l_3"></p>-->
            <!--            <div class="l_s"></div>-->
            <div id="user_stats"><p class="r_l_3"></p>
                <p class="r_l_2"></p>
                <p class="r_l_1"></p>
                <div class="w_l">
                    <h4>最新推荐博客</h4>
                    <div>
                        <ul>
                            <li><a href="//www.cnblogs.com/alisystemsoftware/" target="_blank">阿里巴巴云原生</a></li>
                            <li><a href="//www.cnblogs.com/harlanc/" target="_blank">HarlanC</a></li>
                            <li><a href="//www.cnblogs.com/skabyy/" target="_blank">古霜卡比</a></li>
                            <li><a href="//www.cnblogs.com/rjzheng/" target="_blank">孤独烟</a></li>
                            <li><a href="//www.cnblogs.com/xueweihan/" target="_blank">削微寒</a></li>
                            <li class="blogger_more"><a href="//www.cnblogs.com/expert/" target="_blank">» 更多推荐博客</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="r_l_1"></p>
                <p class="r_l_2"></p>
                <p class="r_l_3"></p>
                <div class="l_s"></div>
                <p class="r_l_3"></p>
                <p class="r_l_2"></p>
                <p class="r_l_1"></p>
                <div class="w_l">
                    <h4>推荐博客排行</h4>
                    <div id="blogger_list">
                        <ul id="top_user_list" th:fragment="top_blog_user_list">
                            <li th:each="topUser,userStat:${topBlogUserList}"><span
                                    th:text="${userStat.index+1}+'.'"></span><a
                                    th:href="@{'/blog/goBlogListPage.do?id='+${topUser.id}}" target="_blank"
                                    th:text="${topUser.username}">Artech</a></li>
                            <li class="blogger_more"><a href="//www.cnblogs.com/expert/" target="_blank">» 更多推荐博客</a>
                            </li>
                            <li class="blogger_more"><a href="//www.cnblogs.com/AllBloggers.aspx" target="_blank">»
                                博客列表(按积分)</a></li>
                        </ul>
                    </div>
                </div>
                <p class="r_l_1"></p>
                <p class="r_l_2"></p>
                <p class="r_l_3"></p></div>
            <div class="l_s"></div>
            <p class="r_l_3"></p>
            <p class="r_l_2"></p>
            <p class="r_l_1"></p>
            <div class="w_l">
                <h4>统计信息</h4>
                <div id="site_stats">
                    <ul>
                        <li>博客 - <span>552228</span></li>
                        <li>随笔 - <span>7715236</span></li>
                        <li>文章 - <span>774069</span></li>
                        <li>评论 - <span>3483042</span></li>
                    </ul>
                </div>
            </div>
            <p class="r_l_1"></p>
            <p class="r_l_2"></p>
            <p class="r_l_3"></p>
        </div>
        <div id="side_right">
            <div id="search_block">
                <div class="side_search">
                    <input type="text" id="zzk_q" class="search_input" onkeydown="return zzk_go_enter(event);"
                           tabindex="3"><input onclick="zzk_go()" type="button" class="search_btn" value="找找看">
                </div>
            </div>
            <div id="cnblogs_a1">
                <div id="div-gpt-ad-1547816814884-0" style="height:60px; width:468px;"
                     data-google-query-id="CIWzg6vO9ucCFckqKgod2lQBZA">

                    <div id="google_ads_iframe_/1090369/A1_0__container__" style="border: 0pt none;">
                        <iframe id="google_ads_iframe_/1090369/A1_0" title="3rd party ad content"
                                name="google_ads_iframe_/1090369/A1_0" width="468" height="60" scrolling="no"
                                marginwidth="0" marginheight="0" frameborder="0" srcdoc=""
                                style="border: 0px; vertical-align: bottom;" data-google-container-id="1"
                                data-load-complete="true"></iframe>
                    </div>
                </div>
            </div>
<!--            <div id="cnblogs_b1" class="sidebar-image">-->
<!--                <div id="div-gpt-ad-1546331539224-0" style="height:250px; width:300px;"-->
<!--                     data-google-query-id="CKfvgavO9ucCFckqKgod2lQBZA">-->

<!--                    <div id="google_ads_iframe_/1090369/B1_0__container__" style="border: 0pt none;">-->
<!--                        <iframe id="google_ads_iframe_/1090369/B1_0" title="3rd party ad content"-->
<!--                                name="google_ads_iframe_/1090369/B1_0" width="300" height="250" scrolling="no"-->
<!--                                marginwidth="0" marginheight="0" frameborder="0" srcdoc=""-->
<!--                                style="border: 0px; vertical-align: bottom;" data-google-container-id="2"-->
<!--                                data-load-complete="true"></iframe>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="ad_right_text" class="ad_right_text">-->
<!--                <ul>-->
<!--                    <li><a href="https://www.cnblogs.com/sanshi/p/11640318.html" target="_blank"-->
<!--                           onclick="ga('send', 'event', 'Link', 'click', 'T1-FineUI')">【推荐】升级到 ASP.NET Core-->
<!--                        3.1，快、快、快！</a></li>-->
<!--                    <li><a href="http://www.hightopo.com/cn-index.html" target="_blank"-->
<!--                           onclick="ga('send', 'event', 'Link', 'click', 'T1-hightopo')">【推荐】HTML5拓扑3D机房，电力工控Web-->
<!--                        SCADA</a></li>-->
<!--                </ul>-->
<!--            </div>-->
            <div id="side_right_block">
                <div class="w_r">
                    <h4><a href="/aggsite/topviews">48小时阅读排行</a><span class="more"><a href="/aggsite/topviews"
                                                                                      class="right_more">»</a></span>
                    </h4>
                    <ul id="two_days_view_blog" th:fragment="two_days_view_blog">
                        <li th:each="blog:${twoDaysViewBlogList}"><a th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" target="_blank"
                                                                     th:text="${blog.title}">Chrome开发者工具使用指南</a></li>
                    </ul>
                </div>
<!--                <div id="cnblogs_b2" class="sidebar-image">-->
<!--                    <div id="div-gpt-ad-1539007469525-0" style="height:250px; width:300px;"-->
<!--                         data-google-query-id="CIazg6vO9ucCFckqKgod2lQBZA">-->

<!--                        <div id="google_ads_iframe_/1090369/B2_0__container__" style="border: 0pt none;">-->
<!--                            <iframe id="google_ads_iframe_/1090369/B2_0" title="3rd party ad content"-->
<!--                                    name="google_ads_iframe_/1090369/B2_0" width="300" height="250" scrolling="no"-->
<!--                                    marginwidth="0" marginheight="0" frameborder="0" srcdoc=""-->
<!--                                    style="border: 0px; vertical-align: bottom;" data-google-container-id="3"-->
<!--                                    data-load-complete="true"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="w_r">
                    <h4><a href="/aggsite/topdiggs">10天推荐排行</a><span class="more"><a href="/aggsite/topdiggs"
                                                                                     class="right_more">»</a></span>
                    </h4>
                    <ul id="ten_days_like_blog" th:fragment="ten_days_like_blog">
                        <li th:each="blog:${tenDaysLikeBlogList}"><a th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" target="_blank"
                                th:text="${blog.title}">Chrome开发者工具使用指南</a></li>
                    </ul>
                </div>
                <div class="w_r">
                    <h4><a href="/aggsite/headline">编辑推荐</a><span class="more"><a href="/aggsite/headline"
                                                                                  class="right_more">»</a></span></h4>
                    <ul id="recommend_list" th:fragment="recommend_list">
                        <li th:each="blog:${recommendList}"><a th:href="@{'/blog/goBlogOnePage.do?id='+${blog.id}}" target="_blank"
                             th:text="${blog.title}"  >后台任务的积木：.Net Core 中的 IHostedService</a></li>
                    </ul>
                </div>
<!--                <div id="cnblogs_b3" class="sidebar-image">-->
<!--                    <div id="div-gpt-ad-1546331252242-0" style="height:250px; width:300px;"-->
<!--                         data-google-query-id="CIezg6vO9ucCFckqKgod2lQBZA">-->

<!--                        <div id="google_ads_iframe_/1090369/B3_0__container__" style="border: 0pt none;">-->
<!--                            <iframe id="google_ads_iframe_/1090369/B3_0" title="3rd party ad content"-->
<!--                                    name="google_ads_iframe_/1090369/B3_0" width="300" height="250" scrolling="no"-->
<!--                                    marginwidth="0" marginheight="0" frameborder="0" srcdoc=""-->
<!--                                    style="border: 0px; vertical-align: bottom;" data-google-container-id="4"-->
<!--                                    data-load-complete="true"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="w_r">
                    <h4><a href="https://q.cnblogs.com/">点赞总榜</a><span class="more"><a href="https://q.cnblogs.com/"
                                                                                          class="right_more">»</a></span>
                    </h4>
                    <ul>
                        <li><a href="https://q.cnblogs.com/q/125969/" target="_blank">Javascript
                            这个是什么写法</a></li>
                        <li><a href="https://q.cnblogs.com/q/125976/" target="_blank">C#List合并</a>
                        </li>
                        <li><a href="https://q.cnblogs.com/q/125970/" target="_blank">持续集成中使用
                            SQL Server Linux 版 Docker 镜像的问题</a></li>
                        <li><a href="https://q.cnblogs.com/q/125941/" target="_blank">关于EF使用SqlQuery查询到的数据，修改之后，无法通过SaveChanges保存到数据库</a>
                        </li>
                        <li><a href="https://q.cnblogs.com/q/125956/" target="_blank">java语言的特点</a>
                        </li>
                        <li><a href="https://q.cnblogs.com/q/125836/" target="_blank">微信小程序背景图片无法在手机预览上显示</a>
                        </li>
                        <li><a href="https://q.cnblogs.com/q/125364/" target="_blank">C#
                            本地共有文件夹的网络路径获取</a></li>
                        <li><a href="https://q.cnblogs.com/q/125948/" target="_blank">asp.netcore
                            前台线程结束了,后台线程确还是执行了,为什么?求大神指导或者给个方向</a></li>
                    </ul>
                </div>
                <div class="w_r">
                    <h4><a href="https://kb.cnblogs.com/">知识库最新文章</a><span class="more"><a
                            href="https://kb.cnblogs.com/" class="right_more">»</a></span></h4>
                    <ul>
                        <li><a href="https://kb.cnblogs.com/page/654057/" target="_blank">60年前美国军方的这个编程原则，造就了多少伟大的框架</a></li>
                        <li><a href="https://kb.cnblogs.com/page/653528/" target="_blank">从零开始入门 K8s | 手把手带你理解 etcd</a></li>
                        <li><a href="https://kb.cnblogs.com/page/627035/" target="_blank">程序员的重复劳动陷阱</a></li>
                        <li><a href="https://kb.cnblogs.com/page/651942/" target="_blank">K8s GC设计原则</a></li>
                        <li><a href="https://kb.cnblogs.com/page/651941/" target="_blank">云原生基础及调研</a></li>
                        <li><a href="https://kb.cnblogs.com/page/651578/" target="_blank">如何阅读技术书籍</a></li>
                        <li><a href="https://kb.cnblogs.com/page/651271/" target="_blank">【领导力】论理想中的技术团队</a></li>
                        <li><a href="https://kb.cnblogs.com/page/647666/" target="_blank">什么是云原生</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer_block">
            <p class="r_b_3"></p>
            <p class="r_b_2"></p>
            <p class="r_b_1"></p>
            <div id="friend_link">
                友情链接：<a href="https://www.vpsor.cn" target="_blank">硅云</a><a href="https://www.aliyun.com"
                                                                             target="_blank">阿里云</a><a
                    href="https://cloud.tencent.com/act/developer?fromSource=gwzcw.3196334.3196334.3196334&amp;utm_medium=cpc&amp;utm_id=gwzcw.3196334.3196334.3196334"
                    target="_blank">腾讯云</a><a href="https://www.huaweicloud.com/" target="_blank">华为云</a><a
                    href="https://cloud.baidu.com" target="_blank">百度云</a><a href="https://www.jdcloud.com"
                                                                             target="_blank">京东云</a><a
                    href="https://www.yisu.com/" target="_blank">亿速云</a><a href="https://www.163yun.com"
                                                                           target="_blank">网易云</a><a
                    href="http://www.gcpowertools.com.cn" target="_blank">葡萄城控件</a><a href="http://www.chinaz.com/"
                                                                                      target="_blank">站长之家</a><a
                    href="http://dev.yesky.com" target="_blank">天极网</a><a href="http://www.hightopo.com/cn-index.html"
                                                                          target="_blank">图扑软件</a><a
                    href="http://www.cnblogs.com/mipengine/" target="_blank">百度MIP博客</a><a
                    href="http://wetest.qq.com/?from=links_cnblogs" target="_blank">腾讯WeTest</a><a
                    href="http://yaq.qq.com/" target="_blank">腾讯御安全</a><a href="http://www.ucancode.com/index.html"
                                                                          target="_blank">工控组态源码</a><a
                    href="https://163yun.cnblogs.com/" target="_blank">网易云博客</a><a href="https://kb.cnblogs.com"
                                                                                   target="_blank">知识库</a>
            </div>
            <p class="r_b_1"></p>
            <p class="r_b_2"></p>
            <p class="r_b_3"></p>
        </div>
    </div>
    <div id="footer_bottom">
        <div>Powered by .NET Core on Kubernetes</div>
        <div><a href="https://about.cnblogs.com/">关于博客园</a><a href="https://about.cnblogs.com/contact">联系我们</a><a
                href="https://about.cnblogs.com/ad">广告服务</a><a href="https://about.cnblogs.com/job">人才服务</a>©2004-2020<a
                href="https://www.cnblogs.com/">博客园</a>保留所有权利<a href="http://www.beian.miit.gov.cn" target="_blank">沪ICP备09004260号</a>
        </div>
        <div>
            <a href="https://ss.knet.cn/verifyseal.dll?sn=e131108110100433392itm000000&amp;ct=df&amp;a=1&amp;pa=0.25787803245785335"
               rel="nofollow" target="_blank"><img id="cnnic_img" src="//common.cnblogs.com/images/cnnic.png" alt=""
                                                   width="64" height="23"></a><a target="_blank"
                                                                                 href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502001144"
                                                                                 style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                src="//common.cnblogs.com/images/ghs.png" alt=""><span
                style="float:left;height:20px;line-height:20px;margin: 0 5px 0 5px; color:#939393;">沪公网安备 31011502001144号</span></a>
        </div>
    </div>
</div>
</body>
<script src="/third/layui/layui.js"></script>
<script th:inline="javascript">

    layui.use(['laypage', 'jquery', 'layer'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;
        var layer = layui.layer;


        var pageType = "首页";
        var totalNum = 0;
        var pageSize = 10;

        renderAllPage(pageSize,pageType);
        //执行一个laypage实例
        function renderAllPage(pageSize,pageType){
            switch (pageType) {
                case '首页':
                    getAllBlogList(1);
                    break;
                case '推荐':
                    getEditorRecommendBlogList(1);
                    break;
                case '我评':
                    getMyCommentList(1);
                    break;
                case '我赞':
                    getILikeList(1);
                    break;
            }
            setTimeout(function () {
                totalNum = Number($("#blogTotalNum").text());
                laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , count: totalNum //数据总数，从服务端得到
                    , limit: pageSize
                    , jump: function (obj, first) {
                        if(!first){
                            switch (pageType) {
                                case '首页':
                                    getAllBlogList(obj.curr);
                                    break;
                                case '推荐':
                                    getEditorRecommendBlogList(obj.curr);
                                    break;
                                case '我评':
                                    getMyCommentList(obj.curr);
                                    break;
                                case '我赞':
                                    getILikeList(obj.curr);
                                    break;
                            }
                            $('html,body').animate({scrollTop: '0px'}, 800);
                        }
                    }
                });
            },800)

        }

        function getAllBlogList(currentPage) {
            $.ajax({
                url: '/blog/getAllBlogList.do',
                type: 'POST',
                data: {
                    size: pageSize,
                    current: currentPage
                },
                success: function (result) {
                    $(".blog_list").html(result);
                }
            });
        }

        getTopUserList(1);
        getTwoDaysTopViewBlog(1);
        getTenDaysTopLikeBlog(1);
        getCategoryList(1);
        getEditorRecommendBlog(1);

        function getTopUserList(currentPage) {
            $.ajax({
                url: '/user/topBlogUserList.do',
                type: 'POST',
                data: {
                    size: 20,
                    current: currentPage
                },
                success: function (result) {
                    $("#top_user_list").html(result);
                }
            });
        }

        function getTenDaysTopLikeBlog(currentPage) {
            $.ajax({
                url: '/blog/getTenDaysTopLikeBlog.do',
                type: 'POST',
                data: {
                    size: 10,
                    current: currentPage
                },
                success: function (result) {
                    $("#ten_days_like_blog").html(result);
                }
            });
        }

        function getCategoryList(currentPage) {
            $.ajax({
                url: '/blogCategory/selectAll4Front.do',
                type: 'POST',
                data: {
                    size: 10,
                    current: currentPage
                },
                success: function (result) {
                    $(".category_list").html(result);
                }
            });
        }

        function getTwoDaysTopViewBlog(currentPage) {
            $.ajax({
                url: '/blog/get48HoursViewBlogList.do',
                type: 'POST',
                data: {
                    size: 10,
                    current: currentPage
                },
                success: function (result) {
                    $("#two_days_view_blog").html(result);
                }
            });
        }

        function getEditorRecommendBlog(currentPage) {
            $.ajax({
                url: '/blog/getEditorRecommendBlog.do',
                type: 'POST',
                data: {
                    size: 10,
                    current: currentPage
                },
                success: function (result) {
                    $("#recommend_list").html(result);
                }
            });
        }

        $("#post_list").on("click", "div.diggit", function (e) {
            var div = $(this)
            $.ajax({
                url: '/blogLike/addBlogLike.do',
                type: 'POST',
                data: {
                    userId: [[${loginUser.id}]],
                    blogId: $(this).attr("blogId")
                },
                dataType: "json",
                success: function (result) {
                    if (result.msg == "点赞成功") {
                        div.children("span").eq(0).text(Number(div.children("span").eq(0).text()) + 1);
                        layer.msg(result.msg)
                    } else {
                        layer.msg(result.msg)
                    }
                }
            });
        })


        $("#listType").on("click", "li", function (e) {
            $(".current_nav").removeClass("current_nav");
            var li = $(this)
            li.children("a").addClass("current_nav");
            var type = li.text();
            renderAllPage(pageSize,type);
        })


        function getEditorRecommendBlogList(currentPage) {
            $.ajax({
                url: '/blog/getEditorRecommendBlogList.do',
                type: 'POST',
                data: {
                    size: pageSize,
                    current: currentPage
                },
                success: function (result) {
                    $(".blog_list").html(result);
                }
            });
        }

        function getMyCommentList(currentPage) {
            $.ajax({
                url: '/blog/getMyCommentList.do',
                type: 'POST',
                data: {
                    size: pageSize,
                    current: currentPage
                },
                success: function (result) {
                    $(".blog_list").html(result);
                }
            });
        }

        function getILikeList(currentPage) {
            $.ajax({
                url: '/blog/getILikeList.do',
                type: 'POST',
                data: {
                    size: pageSize,
                    current: currentPage
                },
                success: function (result) {
                    $(".blog_list").html(result);
                }
            });
        }

        function getBlogByCategory(currentPage,category) {
            $.ajax({
                url: '/blog/getBlogByCategory.do',
                type: 'POST',
                data: {
                    size: pageSize,
                    current: currentPage,
                    category: category
                },
                success: function (result) {
                    $(".blog_list").html(result);
                }
            });
        }

        $(".category_list").on("click", "li", function (e) {
            var li = $(this)
            var category_id = li.attr("id")
            var category_name = li.text().replace(/^\s+|\s+$/g,"");
            var html = "<li><a href=\"/goFrontHomePage.do\" title=\"\">首页</a></li>\n" +
                "                <li><a href=\"javascript:;\" class=\"current_nav\" title=\"编辑精选博文\">"+category_name+"</a></li>";
            $("#listType").html(html);
            renderCategoryPage(pageSize,category_id)
        })


        function renderCategoryPage(pageSize,category){
            getBlogByCategory(1,category)
            setTimeout(function () {
                totalNum = Number($("#blogTotalNum").text());
                laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    , count: totalNum //数据总数，从服务端得到
                    , limit: pageSize
                    , jump: function (obj, first) {
                        if(!first){
                            getBlogByCategory(obj.curr,category);
                            $('html,body').animate({scrollTop: '0px'}, 800);
                        }
                    }
                });
            },800)

        }

    });

</script>
</html>